body {
  margin: 0;
  padding: 4rem;
  background-color: #1b2223;
  color: #f4fefd;
  display: grid;
  place-items: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.foods-container {
  width: 80vw;
  background-image: url('1690913062763.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 50vw;
  border-radius: 10px;
}

.empty-img {
  width: 14rem;
  height: 13rem;
  border-radius: 6px;
}

.food-img {
  width: 14rem;
  height: 12rem;
  border-radius: 6px;
}

.food-box {
  display: flex;
  background-color: rgba(3, 252, 231, 0.5);
  margin: 1rem;
  height: 14rem;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 -5px 3px -3px #000, 0 5px 3px -3px #000;
}
