<nav class="navbar">
  <h1 class="logo">RECIPE APP</h1>
  <ul class="navbar-list">
    <li class="navbar-li"><%= link_to 'Foods', foods_path, class: "navbar-link" %></li>
    <li class="navbar-li"><%= link_to 'Recipes', recipes_path, class: "navbar-link-2" %></li>
    <li class="navbar-li"><%= link_to 'Public Recipes', class: "navbar-link-2" %></li>
    <li class="navbar-li"><%= link_to 'Shopping List', class: "navbar-link" %></li>
  </ul>
</nav>
